<div class="selfie-carousel-container">
  <h2 class="main-title">Training Team Selfies</h2>

  <div *ngIf="isLoading" class="loader-container">
    <mat-spinner diameter="60" color="warn"></mat-spinner>
  </div>

  <ngx-slick-carousel *ngIf="!isLoading" class="carousel" [config]="carouselConfig">
    <div ngxSlickItem *ngFor="let selfie of selfies" class="carousel-item">
      <img
        *ngIf="selfie.base64Image"
        [src]="'data:image/jpeg;base64,' + selfie.base64Image"
        alt="Training Selfie"
        class="carousel-image"
      />
      <div class="team-member-name">{{ selfie.personName }}</div>
    </div>
  </ngx-slick-carousel>
</div>



