<!-- Header -->
<nav class="navbar" *ngIf="!isLoginPage()">
  <button class="menu-toggle" (click)="showMenu = !showMenu" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-list" [class.open]="showMenu">
    <li><a routerLink="/user-list" routerLinkActive="active">About Me</a></li>
    <li><a routerLink="/training-activities" routerLinkActive="active">Training Activities</a></li>
    <li><a routerLink="/training-team-selfies" routerLinkActive="active">Training Team Selfies</a></li>
    <li><a routerLink="/team-selfies" routerLinkActive="active">Team Selfies</a></li>
  </ul>
</nav>

<!-- Main Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer" *ngIf="!isLoginPage()">
  <span class="footer-icon">©</span>Akshata Chawan. All rights reserved.
  <br>
  <a href="mob:+919326065077">
    <i class="fa-solid fa-phone"></i>+91 9326065077
  </a> |  
  <a href="mailto:apramodchawan@deloitte.com" target="_blank">
    <i class="fa-solid fa-envelope"></i>Outlook
  </a> |
  <a href="https://www.linkedin.com/in/akshata-chawan-35756621a" target="_blank">
    <i class="fab fa-linkedin"></i>LinkedIn
  </a>
</footer>

<!-- <nav class="navbar">
  <button class="menu-toggle" (click)="showMenu = !showMenu" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-list" [class.open]="showMenu">
    <li><a routerLink="/user-list" routerLinkActive="active">About Me</a></li>
    <li><a routerLink="/training-activities" routerLinkActive="active">Training Activities</a></li>
    <li><a routerLink="/training-team-selfies" routerLinkActive="active">Training Team Selfies</a></li>
    <li><a routerLink="/team-selfies" routerLinkActive="active">Team Selfies</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <span class="footer-icon">©</span>Akshata Chawan. All rights reserved.
  <br>
  <a href="mob:+919326065077">
    <i class="fa-solid fa-phone"></i>+91 9326065077
  </a> |  
  <a href="mailto:apramodchawan@deloitte.com" target="_blank">
    <i class="fa-solid fa-envelope"></i>Outlook
  </a> |
  <a href="https://www.linkedin.com/in/akshata-chawan-35756621a" target="_blank">
    <i class="fab fa-linkedin"></i>LinkedIn
  </a>
</footer>

 -->
