.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: #222629;
  padding: 16px 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-left {
  display: flex;
  gap: 27px; 
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-left a {
  text-decoration: none;
  color: #fdfff9;
  font-weight: 500;
  font-size: 1.1em;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.2s;
  position: relative; 
}

.nav-left a.active::after,
.nav-left a:hover::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #86c232;
  border-radius: 2px 2px 0 0;
  position: absolute;
  left: 0;
  bottom: -7px; 
  transition: background 0.2s;
}

 .footer {
  width: 100%;
  text-align: center;
  padding: 20px 0 24px 0;
  background: #222629;
  color: #fdfff9;
  font-size: 1.1em;
  border-top: 1px solid #e0e0e0;
  position: static;
  left: 0;
  bottom: 0;
  z-index: 100;

}

.footer-icon {
  font-size: 1.1em;
  vertical-align: middle;
  margin-right: 4px;
}

.footer a i {
  color: #86c232; 
  margin-right: 4px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

.menu-toggle span {
  display: block;
  height: 4px;
  width: 100%;
  background: #86c232;
  border-radius: 2px;
  transition: 0.3s;
}

.nav-right {
  margin-left: auto; 
  display: flex;
  flex-direction: row;
}

.nav-right button {
  color: white;
  background-color: #c63833;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-right button:hover {
  background-color: #ab221d;
}

.session-username {
  color: #8fc643;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}

@media (min-width: 1300px){
  .footer {
    font-size: 1.55em;
    padding: 20px 0 14px 0;
    position: static;
  }
  .nav-left a{
    font-size: 1.55em;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex; 
  }

  .nav-left {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #222629;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .nav-left.show {
    display: flex; 
  }

  .nav-left a {
    padding: 10px 0;
    text-align: left;
  }

  .nav-right {
    order: 1; 
  }
}

@media (max-width: 1000px) {
  .footer {
    font-size: 1.15em;
    padding: 20px 0 14px 0;
    position: static;
  }
  .main-content, .user-list-container {
    padding-bottom: 30px;
  }
}