<h2 class="main-title">Takeda Team</h2>

<div *ngIf="isLoading" class="loader-container">
  <mat-spinner diameter="60" color="warn"></mat-spinner>
</div>

<div *ngIf="!isLoading">
<div class="selfie-carousel-container">
  <ngx-slick-carousel
    class="carousel"
    [config]="carouselConfig"
    (afterChange)="onCarouselAfterChange($event)"
  >
    <div ngxSlickItem *ngFor="let selfie of selfies" class="carousel-item">
      <img
        *ngIf="selfie.base64Image"
        [src]="'data:image/jpeg;base64,' + selfie.base64Image"
        alt="Team Selfie"
        class="carousel-image"
      />
      <div class="team-member-name">
        {{ selfie.teamMemberName
        }}
      </div>
    </div>
  </ngx-slick-carousel>
  <button
    *ngIf="selfies.length"
    class="delete-btn"
    (click)="deleteSelfie(selfies[currentSlide]?.id)"
  >
    Delete Photo
  </button>
</div>
</div>
<div class="add-photo-container">
  <p class="sub-title">Add Team Member :</p>
  <input
    type="text"
    [(ngModel)]="teamMemberName"
    placeholder="Enter Team Member's Name"
    class="name-input"
  />
  <!-- To actually open the file picker dialog, trigger a click event on the file input -->
  <button
    class="choose-file-btn"
    (click)="fileInput.click()" 
    type="button"
  >
    Choose File
  </button>
  <input
    #fileInput
    type="file"
    accept="image/*"
    style="display:none"
    (change)="onFileSelected($event)"
  />
  <!-- Span only appears if a file has been selected  -->
  <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
  <!-- <button
    type="button"
    class="add-photo-btn"
    [disabled]="!selectedFile || !teamMemberName.trim()"
    (click)="addSelfie()"
  > -->
  <button
    type="button"
    class="add-photo-btn"
    (click)="addSelfie()"
  >
    Add Photo
  </button>
</div>



<!-- ======================== -->

  <!-- <h2 class="main-title">Takeda Team</h2>

<div class="add-photo-container">
  <input
    type="text"
    [(ngModel)]="teamMemberName"
    placeholder="Enter Team Member's Name"
    class="name-input"
  />
  <input
    type="text"
    [(ngModel)]="designation"
    placeholder="Enter Designation"
    class="designation-input"
  />
  <input
    #fileInput
    type="file"
    accept="image/*"
    style="display:none"
    (change)="onFileSelected($event)"
  />
  <button class="choose-file-btn" (click)="fileInput.click()" type="button">
    Choose File
  </button>

  <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>

  <button
  class="add-photo-btn"
  [disabled]="!selectedFile || !teamMemberName.trim() || !designation.trim()"
  (click)="addSelfie()"
  >
  Add Photo
</button>
</div>

<div class="selfie-carousel-container">
  <ngx-slick-carousel
    class="carousel"
    [config]="carouselConfig"
    (afterChange)="onCarouselAfterChange($event)"
  >
    <div ngxSlickItem *ngFor="let selfie of selfies" class="carousel-item">
      <img
        [src]="'https://localhost:7085' + selfie.imageUrl"
        alt="Team Selfie"
        class="carousel-image"
      />
      <div class="team-member-name">
        {{ selfie.teamMemberName
        }}<span *ngIf="selfie.designation"> - {{ selfie.designation }}</span>
      </div>
    </div>
  </ngx-slick-carousel>
  <button
    *ngIf="selfies.length"
    class="delete-btn"
    (click)="deleteSelfie(selfies[currentSlide]?.id)"
  >
    Delete Photo
  </button>
</div> -->


